body{background-color: blue}
li a{color:black; text-decoration: none; font-family: }

main{margin:auto; width: 80%;margin-top:30px;}
.image{width:300px; height:300px; margin-right:30px;}
#btnclick{font-family: fantasy;}
#btnsend{font-family: serif;}
footer{font-weight: bold;text-align: center; margin-top:30px;}
